* {
  margin: 0;
  padding: 0;
  font-family: Arial;
}

.wrapper {
  width: 970px;
  min-height: 1000px;
  padding: 10px;
  margin: 0px auto;
}
.header img {
  width: 70px;
  position: relative;
  top: 25px;
}
.header h1 {
  display: inline-block;
  font-weight: 40;
}
.header span {
  color: rgb(47, 110, 164);
  font-weight: 35;
}
.header h2 {
  background: linear-gradient(
    rgb(38, 85, 125),
    rgb(50, 113, 168),
    rgb(38, 85, 125)
  );
  padding: 10px;
  color: white;
  font-weight: 25;
}
.navBar {
  width: 250px;
  display: inline-block;
  vertical-align: top;
}
.topNav h3 {
  margin: 10px 0;
  font-weight: 700;
}
.topNav p {
  margin: 10px 0;
  font-weight: 600;
}
.topNav h3 span {
  color: red;
}
.topNav p span {
  color: rgb(38, 85, 125);
}
.topNav button {
  width: 90%;
  padding: 10px 0;
  margin: 10px 0;
  border-radius: 10px;
  color: white;
  border: 0px;
  font-weight: 700;
}
.topNav .watch {
  background-image: linear-gradient(to top,rgb(38, 85, 125),rgb(50, 113, 168));
}
.topNav .resources {
  background-image: linear-gradient(to top, rgb(179, 86, 0), rgb(199, 116, 38));
}

.bottomNav {
  background-image: url("./images/ad_background.png");
  margin-right: 25px;
  height: 350px;
  margin-top: 40px;
}
.bottomNav p {
  color: white;
  text-align: center;
  font-size: 25px;
  padding-top: 10px;
}
.bottomNav img {
  height: 200px;
  margin: 0 auto;
  display: block;
}
.bottomNav button {
  background-color: rgb(38, 199, 223);
  width: 80%;
  padding: 5px;
  font-size: 15px;
  margin: 0 auto;
  display: block;
  border-radius: 10px;
  border: 0px;
  color: white;
}
#line {
  margin-top: 30px;
  margin-right: 20px;
  border: solid 0.5px grey;
}
.mainContent {
  width: 715px;
  display: inline-block;
}

.mainHeader {
  border-bottom: 1px solid grey;
}
.mainHeader .home {
  width: 20px;
  vertical-align: top;
  margin-top: 3px;
}
.mainHeader h3 {
  display: inline-block;
  margin-bottom: 10px;
  vertical-align: top;
  margin-top: 3px;
  margin-bottom: 40px;
}
.mainHeader .phone {
  width: 40px;
  margin-left: 450px;
  margin-top: 10px;
}
.mainHeader .contactInfo {
  display: inline-block;
  vertical-align: top;
  margin-left: 3px;
  margin-top: 5px;
}
.contactInfo p {
  font-size: 10px;
  margin-left: 5px;
}
.contactInfo h3 {
  margin: 0;
}
.mainBody {
  padding: 3px;
}
.mainBody h3 {
  color: rgb(47, 110, 164);
}
.mainBody span {
  color: rgb(38, 199, 199);
}
.mainBody li {
  margin-left: 40px;
}
.mainBody ul {
  margin: 5px 0;
}
.mainBody img {
  width: 300px;
  margin: 15px auto;
  display: block;
}
.mainFooter {
  border-top: solid 3px rgb(50, 113, 168);
  border-right: solid 3px rgb(50, 113, 168);
  border-left: solid 3px rgb(50, 113, 168);
  margin-top: 20px;
}
.mainFooter img {
  width: 100px;
  display: inline-block;
  margin: 5px;
}
.mainFooter div {
  display: inline-block;
  width: 580px;
}
.mainFooter h3 {
  margin-bottom: 10px;
  margin-top: 10px;
  color: rgb(50, 113, 168);
}
.mainFooter p {
  margin: 5px 0;
}
.mainFooter span {
  color: rgb(38, 199, 199);
}
